/.DS_Store
/Bildschirmfoto 2022-10-20 um 12.24.57.png
/E-Comemrce.sql
/LMS | Code Academy Berlin.pdf
/MySQL engine.ipynb
/MySQL_importxlx.ipynb
/Untitled-2.sql
/data_ecom.xlsx
/eComm_01.ipynb
/merged_ecommerce.csv
/sales original no tabs.xlsx
/sales original.db
/sales original.sqbpro
/sales original.xlsx